@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "is-danger" : "is-success";
    <div class="message @statusMessageClass">
        <h3>
            @Model
        </h3>
    </div>
}
