@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
    Layout = "_LayoutAuth";
}

<div class="login-container is-centered">
    <div class="columns is-vcentered">
        <div class="column">

            <h2 class="form-title has-text-centered">@ViewData["Title"]</h2>
            <h3 class="form-subtitle has-text-centered">Digite seu e-mail para continuar.</h3>
            <div class="login-form">
                <div class="form-panel">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="field">
                            <div class="control">
                                <input asp-for="Input.Email" class="input" placeholder="Digite seu e-mail">
                            </div>
                        </div>
                        <button type="submit" class="button is-solid primary-button is-fullwidth raised">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
