@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
    Layout = "_LayoutAuth";
}


<div class="login-container is-centered">
    <div class="columns is-vcentered">
        <div class="column">

            <h2 class="form-title has-text-centered">@ViewData["Title"]</h2>
            <h3 class="form-subtitle has-text-centered">Por favor, verifique seu e-mail para confirmar sua conta.</h3>

        </div>
    </div>
</div>

