@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
    Layout = "_LayoutAuth";
}

<div class="login-container is-centered">
    <div class="columns is-vcentered">
        <div class="column">

            <h2 class="form-title has-text-centered">@ViewData["Title"]</h2>
            <h3 class="form-subtitle has-text-centered">Sua senha foi alterada. Por favor <a asp-page="./Login">clique aqui para logar.</a></h3>

        </div>
    </div>
</div>

