@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Redefinição de senha";
    Layout = "_LayoutAuth";
}

<div class="login-container is-centered">
    <div class="columns is-vcentered">
        <div class="column">

            <h2 class="form-title has-text-centered">@ViewData["Title"]</h2>
            <h3 class="form-subtitle has-text-centered">Olá! Vamos redefinir a sua senha.</h3>

            <!--Form-->
            <div class="login-form">
                <div class="form-panel">
                    <form asp-page="./ResetPassword" name="form" method="post">
                        <div class="columns is-multiline">

                            <div asp-validation-summary="All" class="message is-danger"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="Input.Email"></label>
                                    <div class="control">
                                        <input asp-for="Input.Email" class="input" placeholder="Digite seu endereço de e-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="Input.Password"></label>
                                    <div class="control">
                                        <input asp-for="Input.Password" class="input" placeholder="Digite sua senha">
                                    </div>
                                </div>
                            </div>

                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <div class="control">
                                        <input asp-for="Input.ConfirmPassword" class="input" placeholder="Confirme sua senha">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="column is-12">
                                <button type="submit" class="button is-solid primary-button is-fullwidth raised">Redefinir senha</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
