@using System.Globalization
@model IEnumerable<PostViewModel>

@foreach (var post in Model)
{
    <div id="feed-post-1" class="card is-post">
        <!-- Main wrap -->
        <div class="content-wrap">
            <!-- Post header -->
            <div class="card-heading">
                <!-- User meta -->
                <div class="user-block">
                    <div class="image">
                        <img src="https://votuscontentstorage.blob.core.windows.net/profile-images/@(post.AuthorId).jfif" alt="">
                    </div>
                    <div class="user-info">
                        <a href="#">@post.AuthorName</a>
                        <span class="time">@post.CreatedAt.ToString("f")</span>
                    </div>
                </div>
            </div>
            <!-- /Post header -->
            <!-- Post body -->
            <div class="card-body">
                <!-- Post body text -->
                <div class="post-text">
                    <p>
                        @post.Text
                    </p>
                </div>

            </div>
            <!-- /Post body -->
            <!-- Post footer -->
            <div class="card-footer">

            </div>
            <!-- /Post footer -->
        </div>
        <!-- /Main wrap -->
    </div>
}
