@using Votus.Infrastructure.Identity
@inject UserManager<WebApplicationUser> UserManager

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
    var userDetail = await @UserManager.FindByEmailAsync(User.Identity?.Name);
}

<div class="settings-sidebar is-active">
    <div class="settings-sidebar-inner">
        <partial name="_ManageNav" />
    </div>
</div>
<div class="settings-wrapper">
    @RenderBody()
</div>


@section Scripts {

    @RenderSection("Scripts", required: false)
}
