@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<div id="security-settings" class="settings-section active">
    <div class="settings-panel">

        <div class="title-wrap">
            <a class="mobile-sidebar-trigger">
                <i data-feather="menu"></i>
            </a>
            <h2>Segurança</h2>
        </div>

        <div class="settings-form-wrapper">
            <div class="settings-form">
                <form asp-page="./ChangePassword" method="post">
                    <div class="columns is-multiline">
                        <div asp-validation-summary="All" class="message is-danger"></div>
                        <div class="column is-12">
                            <!--Field-->
                            <div class="field field-group">
                                <label asp-for="Input.OldPassword"></label>
                                <div class="control has-icon">
                                    <input asp-for="Input.OldPassword" class="input is-fade">
                                    <div class="form-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <!--Field-->
                            <div class="field field-group">
                                <label asp-for="Input.NewPassword"></label>
                                <div class="control has-icon">
                                    <input asp-for="Input.NewPassword" class="input is-fade">
                                    <div class="form-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <!--Field-->
                            <div class="field field-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <div class="control has-icon">
                                    <input asp-for="Input.ConfirmPassword" class="input is-fade">
                                    <div class="form-icon">
                                        <i data-feather="lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="buttons">
                                <button type="submit" class="button is-solid accent-button form-button">Salvar alterações</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}