@page
@using Votus.Infrastructure.Identity
@using Microsoft.Extensions.Configuration
@model IndexModel
@inject UserManager<WebApplicationUser> UserManager
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;

    var userDetail = await @UserManager.FindByEmailAsync(User.Identity?.Name);
    var apiUrl = Configuration["ApiClient:VotusApiUrl"];
}

<!-- /partials/settings/sections/general-settings.html -->
<div id="general-settings" class="settings-section is-active">
    <div class="settings-panel">

        <div class="title-wrap">
            <a class="mobile-sidebar-trigger">
                <i data-feather="menu"></i>
            </a>
            <h2>Perfil</h2>
        </div>

        <div class="settings-form-wrapper">
            <div class="settings-form">
                <form id="profile-form" method="post">
                    <partial name="Account/_StatusMessage" model="Model.StatusMessage" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="field field-group">
                        <label asp-for="Input.FullName"></label>
                        <div class="control has-icon">
                            <input type="text" class="input is-fade" asp-for="Input.FullName">
                            <div class="form-icon">
                                <i data-feather="user"></i>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-multiline">

                        <div class="column is-6">
                            <!--Field-->
                            <div class="field field-group">
                                <label asp-for="Input.Email"></label>
                                <div class="control has-icon">
                                    <input type="text" asp-for="Input.Email" class="input is-fade">
                                    <div class="form-icon">
                                        <i data-feather="mail"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <!--Field-->
                            <div class="field field-group">
                                <label asp-for="Input.BirthDate"></label>
                                <div class="control has-icon">
                                    <input type="text" class="input is-fade" asp-for="Input.BirthDate">
                                    <div class="form-icon">
                                        <i data-feather="mail"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="buttons">
                                <button type="submit" class="button is-solid accent-button form-button">Salvar mudanças</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}